@model AgendaMvc.Models.ViewModels.ContatosFormViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Contatos</h4> <!--Introduz um Titilo H4-->

<hr /> <!--Pula uma linha-->

<div class="row">
    <!--Garante que sua div ocupe o tamanho da tela-->
    <div class="col-md-4">
        <!--Ocupa 1/3 da tela.-->
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <!--Cria um formulario HTML, e envia o formulario chamando a ação create-->
            <div class="form-group">
                <label asp-for="Contato.Name" class="control-label"></label>
                <input asp-for="Contato.Name" class="form-control" />
                <span asp-validation-for="Contato.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contato.Email" class="control-label"></label>
                <input asp-for="Contato.Email" class="form-control" />
                <span asp-validation-for="Contato.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contato.BirthDate" class="control-label"></label>
                <input asp-for="Contato.BirthDate" class="form-control" />
                <span asp-validation-for="Contato.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contato.Tel" class="control-label"></label>
                <input asp-for="Contato.Tel" class="form-control" />
                <span asp-validation-for="Contato.Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contato.TipoContatoId" class="control-label"></label>
                <select asp-for="Contato.TipoContatoId" asp-items="@(new SelectList(Model.TipoContatos,"Id","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



